*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  min-height: 100vh;
  height: 100%; }

#root {
  height: 100%; }

::selection {
  color: #fff; }

body {
  font-family: 'Open Sans', 'sans-serif';
  color: #333; }

a {
  text-decoration: none; }

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(45deg, white, black);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.navbar {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  background: linear-gradient(45deg, black, transparent);
  /*&-items:hover {
        background-color: #c4c4c4;
    }*/ }
  .navbar-items {
    padding: 1rem;
    display: block;
    font-size: 16px;
    font-weight: 500; }
  .navbar-items:hover:before {
    width: 100%;
    background: red;
    transition: width .35s ease; }
  .navbar-items:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease; }
  .navbar-items:active {
    color: black; }
